
# Expose most of AreaEffectCloudEntity to subclasses

protected net.minecraft.world.entity.AreaEffectCloud f_19686_ # reapplicationDelayMap
protected net.minecraft.world.entity.AreaEffectCloud f_19687_ # duration
protected net.minecraft.world.entity.AreaEffectCloud f_19688_ # waitTime
protected net.minecraft.world.entity.AreaEffectCloud f_19689_ # reapplicationDelay
protected net.minecraft.world.entity.AreaEffectCloud f_19691_ # durationOnUse
protected net.minecraft.world.entity.AreaEffectCloud f_19692_ # radiusOnUse
protected net.minecraft.world.entity.AreaEffectCloud f_19693_ # radiusPerTick
protected net.minecraft.world.entity.AreaEffectCloud f_19694_ # owner
protected net.minecraft.world.entity.AreaEffectCloud f_19695_ # ownerUniqueId
public net.minecraft.client.Camera f_90552_ #position
public net.minecraft.client.renderer.entity.EntityRenderDispatcher f_114363_ # playerRenderers
public net.minecraft.client.multiplayer.MultiPlayerGameMode m_105297_()V # ensureHasSentCarriedItem
public net.minecraft.world.entity.LivingEntity f_20922_ #attackStrengthTicker
public net.minecraft.world.entity.projectile.Projectile <init>(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/level/Level;)V # Projectile
public net.minecraft.server.MinecraftServer f_129744_ # storageSource
public com.mojang.math.Matrix4f f_27606_ # m03
public com.mojang.math.Matrix4f f_27610_ # m13
public com.mojang.math.Matrix4f f_27614_ # m23
public net.minecraft.client.renderer.RenderStateShard f_110128_ # CLOUDS_TARGET
protected net.minecraft.world.entity.Entity f_19815_ # dimensions